@charset "utf-8";

$base-color         : #5AAFEE;
$blue-base          : #2683e6;

// font color
$font-base          : #030303;
$font-grey          : #8F8E94;
$font-red           : #ff4f4f;
$font-white         : #ffffff;
$font-orange        : #ff9600;
$font-green         : #99CC33;
$font-disable       : #eeeeee;
$font-button        : #666666;
$font-empty         : #dcdcdc;

// line color
$border-color       : #d5d5d5;
$border-color-green : #61CC73;
$split-line-color   : #F2F2F2;
$border-empty-color : #dcdcdc;

// bg color
$bg-white           : #ffffff;
$bg-orange          : #fea356;
$bg-grey            : #626775;
$bg-green           : #61CC73;
$bg-body            : #efeff4;
$bg-button          : #F8F8F8;

$box-shadow-color   : #dddddd;
$box-border-color   : #eaeaea;
